@import url('bootstrap.min.css');

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    #main-content, .container-fluid {
        height: 100%; /* высота секции равна высоте области просмотра */
    }

    .similar-sites li button {
        min-width: 265px;
    }

    .similar-sites li:nth-of-type(n+6) {
        display: none;
    }

    .domain-atr, .similar-sites-content {
        margin-left: 20px;
        margin-right: 20px;
    }

    .domain-name {
        text-align: center;
    }

    .domain-name img {
        padding-top: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .domain-tittle {
        text-align: center;
    }

    #domain-iframe {
        height: 250px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .similar-sites li button {
        min-width: 400px;
    }

    .domain-atr, .similar-sites-content {
        padding-left: 35px;
    }

    .rankings-name {
        margin-right: 40px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    #main-content, .container-fluid {
        height: 100vh; /* высота секции равна высоте области просмотра */
    }

    .similar-sites li:nth-of-type(n) {
        display: list-item;
    }

    .similar-sites li button {
        min-width: 150px;
    }

    .domain-name {
        text-align: left;
    }

    .domain-name img {
        padding-top: 0;
        display: inline;
    }

    .domain-tittle {
        text-align: left;
        padding-right: 0;
    }

    #domain-iframe {
        height: 100vmax;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .similar-sites li button {
        min-width: 130px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .similar-sites li button {
        min-width: 160px;
    }
}

html, body {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

#help-info, #corrupted-info {
    display: block;
    margin: 70px auto;
    padding: 0 15px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: xx-large;
    color: #8B95A0;
}

#corrupted-info {
    z-index: -1;
    display: none;
    position: absolute;
    margin: 150px auto;
    padding: 0 90px;
}

#main-content, #domain-iframe, .container-fluid {
    margin: 0 auto 0;
    padding: 0;
}

#search-panel {
    height: 65px;
    background-color: #272D3A;
}

.alert {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    padding: 10px;
    position: relative;
    z-index: 999;
}

.left-inner-addon {
    padding-top: 16px;
    margin-left: 15px;
}

.left-inner-addon i {
    width: 16px;
    height: 16px;
    margin: 8px;
    position: absolute;
    pointer-events: none;
    background: url("img/search.png") no-repeat;
    background-size: cover;
}

.field-search {
    border-radius: 20px;
    height: 32px;
    padding-left: 30px;
    width: 290px;
    border: 0;
}

.has-error input:focus {
    outline: none;
    background: rgba(255, 235, 239, 1);
}

.domain-name, .domain-tittle, .domain-atr,
.similar-sites-content {
    font-style: normal;
    font-weight: 400;
    font-size: medium;
}

.domain-name {
    font-weight: 300;
    font-size: 40px;
}

.domain-tittle {
    padding-top: 10px;
    color: #8B95A0;
}

.category-name {
    padding-top: 3px;
    color: #D42A58;
}

.rankings-name {
    margin-top: 30px;
    border: 1px solid #d4d3d5;
}

.nav.nav-pills li {
    margin: 20px 30px 20px 20px;
}

.rankings-name .nav-stacked li {
    font-size: 14px;
    text-decoration: none;
    color: #8B95A0;
}

.rank {
    font-size: 20px;
    color: #7EAAD5;
}

.similar-sites-content {
    margin-top: 30px;
    margin-right: 40px;
}

.similar-title {
    font-size: x-large;
    font-weight: 300;
}

.bottom-line {
    padding-top: 10px;
    border-bottom: 2px solid #8B95A0;
    width: 60px;
}

.similar-sites {
    margin-left: -15px;
}

.similar-sites ul {
    list-style: none;
    padding: 0;
}

.similar-sites li {
    margin-top: 5px;
    margin-bottom: 20px;
}

.similar-sites li button {
    width: 100%;
    height: 40px;
    padding: 6px;
    font-weight: 600;
    text-align: left;
    background-color: transparent;
    box-shadow: 0 0 3px;
}

.similar-icon {
    height: 15px;
    width: 15px;
}

.hide-content {
    display: none;
}

.iframe {
    width: 100%;
    height: 100%;
}

@-webkit-keyframes loader {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes loader {
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
    }
}

.loader {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin: auto;
    z-index: 9999;
    border: 6px solid #2871d5;
    border-left-color: #7eaad5;
    border-bottom-color: #a2b7d5;
    border-right-color: transparent;
    border-radius: 100%;
    -webkit-animation: loader 0.5s infinite linear;
    -moz-animation: loader 0.5s infinite linear;
    animation: loader 0.5s infinite linear;
}