@import url('bootstrap.min.css');

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
    .container-fluid, .main-content {
        height: 100%; /* высота секции равна высоте области просмотра */
    }
    .similar-sites li button {
        min-width: 265px;
    }

    .domain-content {
        padding-left: 20px;
    }

    .domain-tittle {
        text-align: center;
        padding-right: 20px;
    }

    .rankings-name {
        margin-right: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .similar-sites li button {
        min-width: 400px;
    }

    .domain-content {
        padding-left: 35px;
    }

    .rankings-name {
        margin-right: 40px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .container-fluid, .main-content {
        height: 100vh; /* высота секции равна высоте области просмотра */
    }

    .similar-sites li button {
        min-width: 150px;
    }

    .domain-tittle {
        text-align: left;
        padding-right: 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .similar-sites li button {
        min-width: 130px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .similar-sites li button {
        min-width: 160px;
    }
}

html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    padding: 0;
}


.container-fluid, .main-content {
    margin: 0 auto 0;
    padding: inherit;
}

#searchPanel {
    height: 50px;
    background-color: #272D3A;
}

.left-inner-addon {
    width: 220px;
    padding-top: 11px;
    margin-left: 30px;
}

.left-inner-addon .form-control {
    height: 28px;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    width: 13px;
    height: 13px;
    margin-top: 7px;
    margin-left: 8px;
    position: absolute;
    pointer-events: none;
    background: url("img/search.png") no-repeat;
    background-size: cover;
}

.form-control {
    border-radius: 20px;
}

.domain-name, .domain-tittle, .domain-content,
.similar-content {
    font-style: normal;
    font-weight: 400;
    font-size: medium;
}

.domain-name {
    font-weight: 300;
    font-size: 40px;
}

.domain-tittle {
    padding-top: 10px;
    color: #8B95A0;
}

.category-name {
    padding-top: 3px;
    color: #D42A58;
}

.rankings-name {
    margin-top: 30px;
    border: 1px solid #d4d3d5;
}

.nav.nav-pills li {
    margin: 20px 30px 20px 20px;
}

.rankings-name .nav-stacked li {
    font-size: 14px;
    text-decoration: none;
    color: #8B95A0;
}

.rank {
    font-size: 20px;
    color: #7EAAD5;
}

.similar-content {
    margin-top: 30px;
    margin-right: 40px;
}

.similar-title {
    font-size: x-large;
    font-weight: 300;
}

.bottom-line {
    padding-top: 10px;
    border-bottom: 2px solid #8B95A0;
    width: 60px;
}

.similar-sites {
    margin-left: -15px;
}

.similar-sites ul {
    list-style: none;
    padding: 0;
}

.similar-sites li {
    margin-top: 5px;
    margin-bottom: 20px;
}

.similar-sites li button {
    font-weight: 600;
    text-align: left;
    height: 40px;
    padding: 6px;
    background-color: transparent;
    box-shadow: 0 0 3px;
}

.similar-fav-icon {
    height: 15px;
    width: 15px;
    background: url(https://d6rd5g4tnbhqj.cloudfront.net/image?url=amazon.com&t=2&s=0&h=542754912626254351) no-repeat;
    padding: 0 12px 3px 10px;
    background-size: cover;
}

#site-preview{
    display: none;
    border: 1px solid black;
}

.frame {
    padding: 0;
    height: 100vh;
}

