<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Similarweb.com Front End Developer Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- linc CSS -->
    <link rel="stylesheet" media="screen" href="css/style.css">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>

    <!-- Require JS Config -->
    <script src="js/require.config.js" ></script>
    <script src="js/library/require.js" ></script>
    <!-- End Config -->

    <script>
        // add entry point here
        require(['init']);
    </script>

</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <main id="main-content">

            <div id="search-panel">
                <div class="left-inner-addon">
                    <i class="icon-search"></i>
                    <input class="field-search form-control" type="text" placeholder="Search..."/>
                </div>
            </div>

            <div id="first-info">Enter your domain in the search bar</div>

            <div id="domain-content"></div>

            <div id="similar-sites-btn" class="similar-content">
                <span class="similar-title">Similar Sites</span>

                <div class="bottom-line"></div>
                <div class="similar-sites">
                    <ul></ul>
                </div>
            </div>

        </main>

        <div id="domain-iframe"></div>

    </div>
</div>

<!-- index.html -->
<script type="text/template" id="domain-content-tpl">
    <div class="domain-atr">
        <div class="domain-name">
            <img src="<%= FavIcon %>" alt=""/>
            <%= Domain %>
        </div>
        <div class="domain-tittle"><%= Title %></div>
        <div class="domain-tittle category-name">#<%= Category.toLowerCase() %></div>

        <div class="rankings-name">
            <ul class="nav nav-pills nav-stacked">
                <li><span class="pull-right rank"><%= GlobalRank %></span>Global Rank</li>
                <li><span class="pull-right rank"><%= CountryRank %></span>Country Rank</li>
                <li><span class="pull-right rank"><%= CategoryRank %></span>Category Rank</li>
            </ul>
        </div>
    </div>
</script>

<!-- index.html -->
<script type="text/template" id="similar-btn-tpl">
    <button class="btn btn-small">
        <img class="similar-icon " src="<%= FavIcon %>" alt=""/>
        <%= Url %>
    </button>
</script>

</body>
</html>